*{
    margin: 0px;
    padding: 0px;
    font-family:  'Mulish', sans-serif;
    box-sizing: border-box;
}

/* Nav Bar */
nav{
    display: flex;
    height: 13vh;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
}

.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-left: 40px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;

}

.logo > p{

    color: black;
}

.nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-items > li{
    font-family:  'Mulish', sans-serif;
    margin-left: 80px;

}

.nav-items{
    margin-left: 400px;
}

.nav-items > li > a {
    text-decoration: none;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 31px;
}

.logo-ig{
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(225,48,108,1) 41%, rgba(252,176,69,1) 100%); 
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-ig > i{
    color: white;
    font-size: 25px;
}

.logo-git{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    background-color: #4078C0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-git > i{
    color: white;
    font-size: 25px;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

/* Main body */
.landing-page{
    display: flex;
    flex-direction: column;
    height: 87vh;
    background-color:white;
}

h2{
    margin-left: 40px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

h1{
    margin-left: 40px;
    margin-top: 50px;
    color: black;
    font-size: 64px;
    font-weight: bold;
}

.landing-ul{
    color: black;
    margin-left: 60px;
    font-size: 18px;
}

.landing-btns{
    display: flex;
}

.landing-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 60px;
    background-color: #424FA0;
    transition-duration: 1s;
    border-radius: 90px;
    margin-top: 50px;
    margin-left: 40px;
}

.landing-btn.start:hover{
    background-color: #71A5DE;
}


.landing-btn{
    font-family: Muli;
}

.start{
    color: white;
}

.donate{
    background-color: white;
}

.car-img{
    position: absolute;
    width: auto;
    height: 300px;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.start-link{
    text-decoration: none;
}

.donate-link{
    text-decoration: none;
}

/* Parking section */
.parking{
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parking-container{
    width: 877px;
    height: 523px;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.parking-title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-family: Muli;
    color: black;
}

.first-row{
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.box.top{
    height: 90%;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 3px #390099;
    border-left: solid 3px #390099;
    border-right: solid 3px #390099;
    border-radius: 15px 15px 0px 0px;    
}

.box.bot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 90%;
    width: 210px;
    border-bottom: solid 3px #390099;
    border-left: solid 3px #390099;
    border-right: solid 3px #390099;
    border-radius: 0px 0px 15px 15px;
}

.second-row{
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: flex-end;
}

.status.top{
    width: 100%;
    height: 30px;
    background-color: #afafaf;
    border-radius: 12px;  
}

.status.bot{
    width: 100%;
    height: 30px;
    background-color: #afafaf;
    border-radius: 12px;
}

.car-icon{
    position: relative;
    height: 150px;
    top: 90px;
    opacity: 0;
}

.carbot{
    position: relative;
    height: 150px;
    bottom: 90px;
    rotate: 180deg;
    opacity: 0;
}

/* Symbology button */
.symbology-aux{
    position: absolute;
    top: 40%;
    left: 88%;
    transform: translate(-50%, -50%);
}

.symbology-menu{
    display: flex;
    flex-direction: column;
}

.symbology{
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Muli;
    border-radius: 10px;
    height: 50px;
    background-color: #FF0054;
}

.symbology > p{
    cursor: pointer;
}

.symb-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 0px;
    opacity: 0;
    border-bottom: 3px solid #FF0054;
    border-left: 3px solid #FF0054;
    border-right: 3px solid #FF0054;
}

.symb-container > ul > li{
    color: black;
    font-size: 15px;
    font-family: Muli;
}